*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.nav-item {
    /* background-color: aqua; */
    /* height: 100% !important; */
    margin-right: 10px;
}

.slider {
    width: 100%;
    height: 70vh;
    /* background: url("/assets/images/bg.png"); */
    background-color: #8DC63F;
    color: white;
    
  }
  .slick-slider{
    overflow-x: hidden;
  }
.slider_wrapper{
    background-color: #8DC63F;
    position: relative;
}
  .slick-track {
    height: 100%;
  }
  .slick-list{
    height: 100%;
  }
  .content_wrapper{
    width: 80%;
    background-color: #8DC63F;
  }
  .read_btn{
    padding: 10px 30px;
    background-color: #FFBD1A;
    border-radius: 5px;
    border: none;
    outline: none;
}
.slick-dots {
  position: absolute;
  bottom: 120px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li button:before {
  font-family: slick;
  font-size: 16px !important;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: white !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_wrapper{
  width: 10rem;
  height: 10rem;
  background-color: #EBECEC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.img_wrapper_about{
  background: url(/assets/images/cuts.png);
  background-repeat: no-repeat;
  background-position: bottom top;
  background-size: 100% 100%;
  background-color: #e6e6e6;
}
.card::before{
  font-family: "Font Awesome 5 Free";
   content: "\f005"; 
   color: red;
   font-size: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  top: -50px;
  left: 31%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFBD1A; 
}